@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Edu+NSW+ACT+Foundation:wght@400;700&display=swap');

/* sabse upar sirf @import */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.abc {
  font-family: 'Roboto', sans-serif;
}

